<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<body>

<footer th:fragment="footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 col-md-4">

                <h5 class="text-red fw-bold">
                    Moblyar
                </h5>

                <p>
                    Seu destino para móveis e decoração
                    de qualidade.
                </p>

            </div>
            <div class="col-6 col-md-2">
                <h6 class="fw-bold">
                    Comprar
                </h6>
                <div class="d-flex flex-column">
                    <a href="#" class="text-decoration-none text-gray">
                        Sala de estar
                    </a>
                    <a href="#" class="text-decoration-none text-gray">
                        Quarto
                    </a>
                    <a href="#" class="text-decoration-none text-gray">
                        Jantar
                    </a>
                    <a href="#" class="text-decoration-none text-gray">
                        Escritório
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <h6 class="fw-bold">
                    Suporte
                </h6>
                <div class="d-flex flex-column text-decorartion-none text-dark">
                    <a href="#" class="text-decoration-none text-gray">
                        Contate-nos
                    </a>
                    <a href="#" class="text-decoration-none text-gray">
                        Informações de compra
                    </a>
                    <a href="#" class="text-decoration-none text-gray">
                        FAQ
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <h6 class="fw-bold">
                    Companhia
                </h6>
                <div class="d-flex flex-column text-decorartion-none text-dark">
                    <a href="#" class="text-decoration-none text-gray">
                        Sobre nós
                    </a>
                    <a href="#" class="text-decoration-none text-gray">
                        Política de Privacidade
                    </a>
                    <a href="#" class="text-decoration-none text-gray">
                        Termos de serviço
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center copyright">
            © 2026 Moblyar. Todos os direitos reservados
        </div>
    </div>
</footer>

</body>
</html>